[submodule "EGL/src/main/java/smallville7123/EGLSurfaceView_EGLTextureView"]
	path = EGL/src/main/java/smallville7123/EGLSurfaceView_EGLTextureView
	url = https://github.com/mgood7123/EGLSurfaceView-EGLTextureView
[submodule "app/src/main/cpp/DiligentEngine/DiligentCore"]
	path = app/src/main/cpp/DiligentEngine/DiligentCore
	url = https://github.com/mgood7123/DiligentCore
[submodule "app/src/main/cpp/DiligentEngine/DiligentFX"]
	path = app/src/main/cpp/DiligentEngine/DiligentFX
	url = https://github.com/mgood7123/DiligentFX
[submodule "app/src/main/cpp/DiligentEngine/DiligentTools"]
	path = app/src/main/cpp/DiligentEngine/DiligentTools
	url = https://github.com/mgood7123/DiligentTools
