[submodule "app/src/main/cpp/DiligentEngine"]
	path = app/src/main/cpp/DiligentEngine
	url = https://github.com/mgood7123/DiligentEngine
[submodule "EGL/src/main/java/smallville7123/EGLSurfaceView_EGLTextureView"]
	path = EGL/src/main/java/smallville7123/EGLSurfaceView_EGLTextureView
	url = https://github.com/mgood7123/EGLSurfaceView-EGLTextureView
